################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IA2_CALCULATOR_srfn/v16/Server/sqlite3
